body {
	margin: 0;
	font: normal 16px Arial, Helvetica, sans-serif;
	color: #333;
	background: black;
}

#particles-js{
	/* Background from https://cssgradient.io/ */
	background: rgb(2,0,36);
	background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(15,15,20,1) 40%, rgba(0,0,0,1) 100%);
	height: 100vh;
	opacity: 0;
}

.text {
	opacity: 0;
}

.greeting {
	text-align: center;
	color: #fff;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
	margin: auto;
	-webkit-font-smoothing: antialiased;
	font-size: 26pt;
	line-height: 42pt;
	letter-spacing: 1px;
	font-family: 'Roboto Mono', monospace;
}

.highlight {
	color: #007acc;
}

.page-link {
	margin: 26px auto;
	font-size: 20px;
	font-family: 'Roboto Mono', monospace;
	background: rgba(0,0,0,0);
	color: #fff;
	opacity: 0;
}

.page-link:hover {
	color: #fff;
	background: rgba(0,122,204,0.4);
}

.typewriter {
	margin: 0 auto;
	overflow: hidden;
	white-space: nowrap;
	opacity: 1;
	animation: typing 2s steps(40, end);
}

.typedCursor {
	opacity: 1;
	animation: blink 1s infinite;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

@keyframes typing {
	from {width: 0}
	to {width: 100%}
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

.fade-in {
	opacity: 0;
	animation: fadeIn .5s ease-in 1 forwards;
  }