html {
	scroll-behavior: smooth;
	overflow: hidden;
	height: 100%;
}

body {
	height: 100%;
	overflow: auto;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	color: #cccccc;
	max-width: 100%;
	font-size: 16px;
	background-color: black;
	background-attachment: scroll;
}

h3 {
	text-transform: uppercase;
}

#particles-js{
	/* Background from https://cssgradient.io/ */
	background: rgb(2,0,36);
	background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(15,15,20,1) 40%, rgba(0,0,0,1) 100%);
	height: 100vh;
	opacity: 0;
	position: fixed;
    width:100%;
    z-index:-1;
}

.fadein {
	height: 100%;
	background-color: 
}

.greeting {
	text-align: center;
	color: #fff;
    width: 100%;
    height: 100%;
	-webkit-font-smoothing: antialiased;
	font-size: 2rem;
	letter-spacing: 2px;
	font-family: 'Noto Sans JP', sans-serif;
	padding-top: 45vh;
	padding-bottom: 50vh;
}

.greeting-nopad {
	text-align: center;
	color: #fff;
    width: 100%;
    height: 100%;
	-webkit-font-smoothing: antialiased;
	font-size: 2rem;
	letter-spacing: 2px;
	font-family: 'Noto Sans JP', sans-serif;
}

.container {
	padding: 10%;
}

.contact-container {
	height: 350px;
	position: relative;
}


.skill-container {
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
}

.skill-type-container {
	flex: 33%;
	text-align: center;
	padding: 10px;
}

.skill-list {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

ul {
	list-style: none;
	padding: 4px 0;
	font-size: 1.23em;
}

.subtitle {
	font-size: 20px;
}

.highlight {
	color: #007acc!important;
}

.content-section {
	font-size: 1.23em;
	text-align: center;
}

.text-align-left {
	flex-direction: column;
	display: flex;
	justify-content: space-between;
}

.text-align-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.text-right {
	position: relative;
	justify-content: right;
}

.text-secondary {
	padding-top: 15px;
	padding-bottom: 10px;
	letter-spacing: 2px;
	font-family: 'Noto Sans JP', sans-serif;
	text-align: center;
}

.typewriter-first {
	margin: 0 auto;
	overflow: hidden;
	white-space: nowrap;
	opacity: 1;
	animation: typing 4s steps(40, end);
}

.typewriter {
	margin: 0 auto;
	overflow: hidden;
	white-space: nowrap;
	opacity: 1;
	animation: typing 2s steps(44, end);
}

.typedCursor {
	opacity: 1;
	animation: blink 1s infinite;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

@keyframes typing {
	from {width: 0}
	to {width: 100%}
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

a:hover {
	text-decoration: none;
}

.fade-in {
	opacity: 0;
	animation: fadeIn .5s ease-in 1 forwards;
  }

.nav-item {
	font-size: 1rem;
	text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.page-footer {
	color: #fff;
}

.feedback-input {
  color:#333;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 16px;
  border-radius: 5px;
  line-height: 20px;
  background-color: transparent;
  border:2px solid #333;
  transition: all 0.3s;
  padding: 12px;
  margin-bottom: 10px;
  width:100%;
  outline:0;
}

.feedback-input:focus {
	border: 2px solid #007acc;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#007acc;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
}

@media screen and (max-width: 600px) {
	.greeting {
	  font-size: 16pt;
	}  

	#portfolioBtn {
		padding: 10px 5px 10px 5px;
		margin: 10px 0px 0px 0px;
		font-size: 12pt;
		line-height: 14pt;
	}

	.skills-type-container {
		width: 100%;
	}
}